Source: networkconfig-sidux
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/networkconfig-sidux/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/networkconfig-sidux/trunk/

Package: networkconfig-sidux
Architecture: all
Depends: kppp, pppoeconf, kdebase-bin, ppp-scripts
Description: network configuration xdg menus
 This package contains the network configuration XDG Menus for sidux.
