Source: networkconfig-sidux
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: networkconfig-sidux
Architecture: all
Depends: kppp, pppoeconf, sidux-menu, kdebase-bin, ppp-scripts
Conflicts: networkconfig-kanotix
Description: network configuration xdg menus
 This package contains the network configuration XDG Menus for sidux.
